{
  "presets": [
    [
      "@babel/env",
      {
        "loose": true,
        "modules": false,
        "useBuiltIns": "entry"
      }
    ],
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/proposal-class-properties",
  ]
}
